Node-red/flows.json
[
    {
        "id": "b722b932422c7e6e",
        "type": "tab",
        "label": "Factory Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ef0d3101efbe921",
        "type": "mqtt in",
        "z": "b722b932422c7e6e",
        "name": "Machine Data",
        "topic": "factory/+/data",
        "qos": "0",
        "datatype": "json",
        "broker": "d6290852d9105eb8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 920,
        "wires": [
            [
                "bc91313a5470efe3"
            ]
        ]
    },
    {
        "id": "519049681a0f42e0",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Status",
        "func": "if (msg.payload.machine_id !== 'machine1') return null;\nmsg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "12a3f06a14da033d"
            ]
        ]
    },
    {
        "id": "12a3f06a14da033d",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "e7d72e26a069637b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae17946eeea98bce",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Temperature",
        "func": "if (msg.payload.machine_id !== 'machine1') return null;\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 440,
        "wires": [
            [
                "2958f114ef23a055",
                "be0339c0d3aedbb0"
            ]
        ]
    },
    {
        "id": "2958f114ef23a055",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "e7d72e26a069637b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a138ca1fa08f35a",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Count",
        "func": "if (msg.payload.machine_id !== 'machine1') return null;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 620,
        "wires": [
            [
                "c0a77a33f4d57d27"
            ]
        ]
    },
    {
        "id": "c0a77a33f4d57d27",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "e7d72e26a069637b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Count",
        "label": "Production Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 620,
        "wires": []
    },
    {
        "id": "5042d71fc4095e42",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Downtime & Availability",
        "func": "const INTERVAL = 3;\n\n// machine_id based keys:\n// Each machine needs its own separate downtime and totalTime counter\n// If we used flow.get('downtime') for all machines, they'd all\n// mix together and the calculation would be meaningless\n// By using 'downtime_machine1', 'downtime_machine2' etc,\n// each machine has its own independent memory slot\nconst mid = msg.payload.machine_id;\n\nlet downtime = flow.get('downtime_' + mid) || 0;\nlet totalTime = flow.get('totalTime_' + mid) || 0;\n\ntotalTime += INTERVAL;\n\nif (msg.payload.status === 'OFF') {\n    downtime += INTERVAL;\n}\n\nconst runtime = totalTime - downtime;\nconst availability = totalTime > 0 ? (runtime / totalTime) * 100 : 0;\n\n// Save back with machine_id in the key name\nflow.set('downtime_' + mid, downtime);\nflow.set('totalTime_' + mid, totalTime);\n\n// Add to payload so InfluxDB stores them\nmsg.payload.downtime = downtime;\nmsg.payload.availability = Number(availability.toFixed(2));\n\n// Output 1: downtime for display widget\nconst msg1 = { payload: downtime, machine_id: mid };\n\n// Output 2: availability for display widget  \nconst msg2 = { payload: Number(availability.toFixed(2)), machine_id: mid };\n\n// Output 3: full record for InfluxDB\nconst fullRecord = {\n    payload: {\n        machine_id: mid,\n        status: msg.payload.status,\n        temperature: msg.payload.temperature,\n        production_count: msg.payload.production_count,\n        downtime: downtime,\n        availability: Number(availability.toFixed(2)),\n        timestamp: msg.payload.timestamp\n    }\n};\n\nreturn [msg1, msg2, fullRecord];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 2760,
        "wires": [
            [
                "6b7d4d2ad3ff8945",
                "d05aa1f860ec2739",
                "524370a2adb959a7",
                "6d490db10a60025d"
            ],
            [
                "344b635a548c8ac8",
                "090dfbf184620354",
                "0bcb9b9a4e004689",
                "4a46e341f909fb1d"
            ],
            [
                "148bf1173dec1998"
            ]
        ]
    },
    {
        "id": "db163642d68d716d",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "e7d72e26a069637b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Downtime",
        "label": "Downtime(S)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1900,
        "y": 2320,
        "wires": []
    },
    {
        "id": "be0339c0d3aedbb0",
        "type": "ui-gauge",
        "z": "b722b932422c7e6e",
        "name": "Temp",
        "group": "e7d72e26a069637b",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "81",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1130,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e1cf6e9d5feef0f7",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "e7d72e26a069637b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Availability",
        "label": "Availability(%)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1910,
        "y": 2880,
        "wires": []
    },
    {
        "id": "bc91313a5470efe3",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Parse & Validate",
        "func": "// Guard against malformed messages\nlet data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    node.warn('Invalid JSON: ' + msg.payload);\n    return null;\n}\n\n// Validate required fields\nif (!data.machine_id || data.status === undefined || data.temperature === undefined) {\n    node.warn('Missing fields: ' + JSON.stringify(data));\n    return null;\n}\n\nmsg.payload = data;\nmsg.machine_id = data.machine_id;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 920,
        "wires": [
            [
                "519049681a0f42e0",
                "ae17946eeea98bce",
                "7a138ca1fa08f35a",
                "5042d71fc4095e42",
                "8eea097fdc088c6f",
                "f7ddf8085f50e11f",
                "4b3357dce63d506c",
                "72ea74edd7175058",
                "fc842d6dfce1ed7c",
                "53a3aa4efee76a29",
                "00ed01e9d97ae29c",
                "017f149798ae226e",
                "bd0ba42e9a0509db",
                "5dccb91ec46aa73f"
            ]
        ]
    },
    {
        "id": "148bf1173dec1998",
        "type": "influxdb out",
        "z": "b722b932422c7e6e",
        "influxdb": "565854b8a62ccf9e",
        "name": "Save to InfluxDB",
        "measurement": "machine_status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "factory",
        "bucket": "machine_data",
        "x": 1690,
        "y": 3520,
        "wires": []
    },
    {
        "id": "8eea097fdc088c6f",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Status",
        "func": "if (msg.payload.machine_id !== 'machine2') return null;\nmsg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 800,
        "wires": [
            [
                "8799d85c936930ec"
            ]
        ]
    },
    {
        "id": "8799d85c936930ec",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "8fe3834f406f74b5",
        "order": 1,
        "width": 3,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 800,
        "wires": []
    },
    {
        "id": "f7ddf8085f50e11f",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Temperature",
        "func": "if (msg.payload.machine_id !== 'machine2') return null;\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 920,
        "wires": [
            [
                "e60a0033b28d4c29",
                "5792a1712321931f"
            ]
        ]
    },
    {
        "id": "e60a0033b28d4c29",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "8fe3834f406f74b5",
        "order": 4,
        "width": 3,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 920,
        "wires": []
    },
    {
        "id": "4b3357dce63d506c",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Count",
        "func": "if (msg.payload.machine_id !== 'machine2') return null;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "2208121d0e104942"
            ]
        ]
    },
    {
        "id": "2208121d0e104942",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "8fe3834f406f74b5",
        "order": 3,
        "width": 3,
        "height": 0,
        "name": "Count",
        "label": "Production Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5792a1712321931f",
        "type": "ui-gauge",
        "z": "b722b932422c7e6e",
        "name": "Temp",
        "group": "8fe3834f406f74b5",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "81",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1130,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "72ea74edd7175058",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Status",
        "func": "if (msg.payload.machine_id !== 'machine3') return null;\nmsg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1380,
        "wires": [
            [
                "1d9416f18b38d8a8"
            ]
        ]
    },
    {
        "id": "1d9416f18b38d8a8",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "2d4481fa4bbb199d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 1380,
        "wires": []
    },
    {
        "id": "fc842d6dfce1ed7c",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Temperature",
        "func": "if (msg.payload.machine_id !== 'machine3') return null;\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "06aea59c30c9f7cb",
                "35805c00d5396096"
            ]
        ]
    },
    {
        "id": "06aea59c30c9f7cb",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "2d4481fa4bbb199d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "53a3aa4efee76a29",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Count",
        "func": "if (msg.payload.machine_id !== 'machine3') return null;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1680,
        "wires": [
            [
                "05ce15e07c953d62"
            ]
        ]
    },
    {
        "id": "05ce15e07c953d62",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "2d4481fa4bbb199d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Count",
        "label": "Production Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 1680,
        "wires": []
    },
    {
        "id": "35805c00d5396096",
        "type": "ui-gauge",
        "z": "b722b932422c7e6e",
        "name": "Temp",
        "group": "2d4481fa4bbb199d",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "81",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1130,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "00ed01e9d97ae29c",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Status",
        "func": "if (msg.payload.machine_id !== 'machine4') return null;\nmsg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1900,
        "wires": [
            [
                "3a1b81eb6dd5c098"
            ]
        ]
    },
    {
        "id": "3a1b81eb6dd5c098",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "60e00b0742cf0cd3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 1900,
        "wires": []
    },
    {
        "id": "017f149798ae226e",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Temperature",
        "func": "if (msg.payload.machine_id !== 'machine4') return null;\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2020,
        "wires": [
            [
                "7ecd32063159ad1b",
                "bb95c1a9c3204e02"
            ]
        ]
    },
    {
        "id": "7ecd32063159ad1b",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "60e00b0742cf0cd3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 2020,
        "wires": []
    },
    {
        "id": "bd0ba42e9a0509db",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Count",
        "func": "if (msg.payload.machine_id !== 'machine4') return null;\nmsg.payload = msg.payload.production_count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2200,
        "wires": [
            [
                "b0835bc2d85e683b"
            ]
        ]
    },
    {
        "id": "b0835bc2d85e683b",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "60e00b0742cf0cd3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Count",
        "label": "Production Count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1130,
        "y": 2200,
        "wires": []
    },
    {
        "id": "bb95c1a9c3204e02",
        "type": "ui-gauge",
        "z": "b722b932422c7e6e",
        "name": "Temp",
        "group": "60e00b0742cf0cd3",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "81",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1130,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7d4d2ad3ff8945",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine1') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2320,
        "wires": [
            [
                "db163642d68d716d"
            ]
        ]
    },
    {
        "id": "344b635a548c8ac8",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine1') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2880,
        "wires": [
            [
                "e1cf6e9d5feef0f7"
            ]
        ]
    },
    {
        "id": "198fc3f4993e63da",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "8fe3834f406f74b5",
        "order": 5,
        "width": 3,
        "height": 0,
        "name": "Downtime",
        "label": "Downtime(S)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1900,
        "y": 2440,
        "wires": []
    },
    {
        "id": "d05aa1f860ec2739",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine2') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2440,
        "wires": [
            [
                "198fc3f4993e63da"
            ]
        ]
    },
    {
        "id": "6962a8c88c5b7842",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "2d4481fa4bbb199d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Downtime",
        "label": "Downtime(S)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1900,
        "y": 2560,
        "wires": []
    },
    {
        "id": "524370a2adb959a7",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine3') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2560,
        "wires": [
            [
                "6962a8c88c5b7842"
            ]
        ]
    },
    {
        "id": "43934d2ebdd855a3",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "60e00b0742cf0cd3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Downtime",
        "label": "Downtime(S)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1900,
        "y": 2680,
        "wires": []
    },
    {
        "id": "6d490db10a60025d",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine4') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2680,
        "wires": [
            [
                "43934d2ebdd855a3"
            ]
        ]
    },
    {
        "id": "8708d1bc23566f36",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "8fe3834f406f74b5",
        "order": 6,
        "width": 3,
        "height": 0,
        "name": "Availability",
        "label": "Availability(%)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1910,
        "y": 2980,
        "wires": []
    },
    {
        "id": "090dfbf184620354",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine2') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2980,
        "wires": [
            [
                "8708d1bc23566f36"
            ]
        ]
    },
    {
        "id": "d3a89942de50a4e6",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "2d4481fa4bbb199d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Availability",
        "label": "Availability(%)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1910,
        "y": 3080,
        "wires": []
    },
    {
        "id": "0bcb9b9a4e004689",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine3') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 3080,
        "wires": [
            [
                "d3a89942de50a4e6"
            ]
        ]
    },
    {
        "id": "34bf2a3897147fb1",
        "type": "ui-text",
        "z": "b722b932422c7e6e",
        "group": "60e00b0742cf0cd3",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Availability",
        "label": "Availability(%)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1910,
        "y": 3180,
        "wires": []
    },
    {
        "id": "4a46e341f909fb1d",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Filter",
        "func": "if (msg.machine_id !== 'machine4') return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 3180,
        "wires": [
            [
                "34bf2a3897147fb1"
            ]
        ]
    },
    {
        "id": "5dccb91ec46aa73f",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "IDS ENGINE",
        "func": "// ══════════════════════════════════════════════════════════\n// OT-IDS ENGINE — Intrusion Detection System\n// Checks every incoming MQTT message against security rules\n// Triggers alerts when attacks are detected\n// ══════════════════════════════════════════════════════════\n\nconst data = msg.payload;\nconst mid = data.machine_id;\nconst now = Date.now();\n\n// ── Configuration ─────────────────────────────────────────\n\n// Only these 4 machines are legitimate in our system\n// Any other machine_id is an intruder\nconst VALID_MACHINES = [\n    'machine1', 'machine2', 'machine3', 'machine4'\n];\n\n\n// From recon we saw normal range is 30-80°C\n// Below 28°C when ON = likely injection attack\n// Above 85°C = dangerous overheating OR spoofed high value\nconst TEMP_MIN_ON = 28;\nconst TEMP_MAX = 85;\n\n// Normal rate = 4 machines × 1 msg per 3s = ~1.3 msg/s\n// Flood threshold = if we see more than 10 msgs in 3s\n// that's 7x normal rate — definitely a flood\nconst FLOOD_THRESHOLD = 10;\nconst FLOOD_WINDOW_MS = 3000;\n\n// Real machines start from 0 and increment by 1-6 per cycle\n// Attack 1 sends random counts between 9000-9999\n// If production_count jumps to >8000 suddenly it's suspicious\nconst SUSPICIOUS_COUNT = 8000;\n\n// ── Rate tracking (stored in flow context) ────────────────\n\n// We need to track message timestamps across multiple messages\n// flow context persists between messages unlike local variables\nlet messageTimestamps = flow.get('ids_timestamps') || [];\n\n// Add current timestamp\nmessageTimestamps.push(now);\n\n// Keep only timestamps within the flood window\nmessageTimestamps = messageTimestamps.filter(\n    t => now - t < FLOOD_WINDOW_MS\n);\n\n// Save back to flow context\nflow.set('ids_timestamps', messageTimestamps);\n\nconst messagesInWindow = messageTimestamps.length;\n\n// ── Alert builder ─────────────────────────────────────────\nfunction buildAlert(type, severity, machine, detail) {\n    return {\n        type: type,\n        severity: severity,  // LOW, MEDIUM, HIGH, CRITICAL\n        machine_id: machine,\n        detail: detail,\n        timestamp: new Date().toISOString(),\n        raw_payload: data\n    };\n}\n\n// ── Rule 1: Unknown Machine ID ────────────────────────────\n// Catches Attack 3 spoofing and ghost machines\n// Any message from an unrecognised machine_id is suspicious\nif (!VALID_MACHINES.includes(mid)) {\n    const alert = buildAlert(\n        'UNKNOWN_MACHINE_ID',\n        'HIGH',\n        mid,\n        `Unknown machine_id detected: \"${mid}\". ` +\n        `Valid IDs are: ${VALID_MACHINES.join(', ')}`\n    );\n    node.warn(`[IDS] ALERT: ${alert.type} — ${alert.detail}`);\n    return { payload: alert, topic: 'ids/alert' };\n}\n\n// ── Rule 2: Temperature Out of Range ──────────────────────\n// Catches Attack 1 data injection\n// When machine is ON, temperature should be in normal range\n// Suspiciously low temp when ON = attacker hiding overheating\n// Suspiciously high temp = dangerous condition or spoofed value\nif (data.status === 'ON') {\n    if (data.temperature < TEMP_MIN_ON) {\n        const alert = buildAlert(\n            'TEMPERATURE_ANOMALY',\n            'HIGH',\n            mid,\n            `Temperature ${data.temperature}°C is suspiciously ` +\n            `LOW for an ON machine. ` +\n            `Minimum expected: ${TEMP_MIN_ON}°C. ` +\n            `Possible data injection attack.`\n        );\n        node.warn(`[IDS] ALERT: ${alert.type} — ${alert.detail}`);\n        return { payload: alert, topic: 'ids/alert' };\n    }\n}\n\nif (data.temperature > TEMP_MAX) {\n    const alert = buildAlert(\n        'TEMPERATURE_CRITICAL',\n        'CRITICAL',\n        mid,\n        `Temperature ${data.temperature}°C exceeds ` +\n        `maximum threshold of ${TEMP_MAX}°C. ` +\n        `Possible overheating or spoofed high value.`\n    );\n    node.warn(`[IDS] ALERT: ${alert.type} — ${alert.detail}`);\n    return { payload: alert, topic: 'ids/alert' };\n}\n\n// ── Rule 3: Message Flood Detection ───────────────────────\n// Catches Attack 2 flooding\n// We count how many messages arrived in the last 3 seconds\n// If it exceeds our threshold, it's a flood attack\nif (messagesInWindow > FLOOD_THRESHOLD) {\n    // WHY rate limiting alerts:\n    // During a flood we'd generate hundreds of alerts per second\n    // We only alert once per 5 seconds to avoid alert flooding\n    const lastFloodAlert = flow.get('last_flood_alert') || 0;\n    if (now - lastFloodAlert > 5000) {\n        flow.set('last_flood_alert', now);\n        const alert = buildAlert(\n            'MESSAGE_FLOOD',\n            'CRITICAL',\n            mid,\n            `${messagesInWindow} messages received in ` +\n            `${FLOOD_WINDOW_MS}ms window. ` +\n            `Normal rate is ~4 messages per 3 seconds. ` +\n            `Possible DoS flood attack.`\n        );\n        node.warn(`[IDS] ALERT: ${alert.type} — ${alert.detail}`);\n        return { payload: alert, topic: 'ids/alert' };\n    }\n    return null; // suppress duplicate flood alerts\n}\n\n// ── Rule 4: Suspicious Production Count ───────────────────\n// Catches the fake 9000+ counts from Attack 1\n// Real machines start from 0 and increment gradually\n// A sudden jump to thousands is a sign of injected data\nif (data.production_count > SUSPICIOUS_COUNT) {\n    const alert = buildAlert(\n        'SUSPICIOUS_PRODUCTION_COUNT',\n        'MEDIUM',\n        mid,\n        `Production count ${data.production_count} is ` +\n        `suspiciously high. ` +\n        `Expected gradual increment from 0. ` +\n        `Possible injected data.`\n    );\n    node.warn(`[IDS] ALERT: ${alert.type} — ${alert.detail}`);\n    return { payload: alert, topic: 'ids/alert' };\n}\n\n// ── No threats detected ───────────────────────────────────\n// Return null = message is clean, no alert needed\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 160,
        "wires": [
            [
                "9acfa897e1f73183",
                "8d5e235b45915373"
            ]
        ]
    },
    {
        "id": "e2afbad6a155eb03",
        "type": "ui-notification",
        "z": "b722b932422c7e6e",
        "ui": "296cf9f776620b90",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "15",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Security Alert",
        "x": 1150,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9acfa897e1f73183",
        "type": "function",
        "z": "b722b932422c7e6e",
        "name": "Format Alert",
        "func": "const alert = msg.payload;\n\nconst icons = {\n  'CRITICAL': '🚨',\n  'HIGH': '⚠️',\n  'MEDIUM': '🔶',\n  'LOW': 'ℹ️'\n};\n\nconst icon = icons[alert.severity] || '⚠️';\nconst time = new Date(alert.timestamp).toLocaleTimeString();\n\n// Short concise messages that fit the popup naturally\nconst shortMessages = {\n  'TEMPERATURE_ANOMALY': `Temp too low on ${alert.machine_id} — possible injection`,\n  'TEMPERATURE_CRITICAL': `Critical temp on ${alert.machine_id} — check immediately`,\n  'MESSAGE_FLOOD': `Flood attack detected — ${alert.machine_id}`,\n  'SUSPICIOUS_PRODUCTION_COUNT': `Fake count detected on ${alert.machine_id}`,\n  'UNKNOWN_MACHINE_ID': `Unknown machine \"${alert.machine_id}\" detected`\n};\n\nconst shortMsg = shortMessages[alert.type] || alert.detail;\n\nmsg.payload = `${icon} [${alert.severity}] ${shortMsg} | ${time}`;\n\nmsg.ui_control = {\n  colour: alert.severity === 'CRITICAL' ? '#c0392b' :\n    alert.severity === 'HIGH' ? '#e67e22' :\n      alert.severity === 'MEDIUM' ? '#f39c12' : '#2980b9'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 160,
        "wires": [
            [
                "e2afbad6a155eb03"
            ]
        ]
    },
    {
        "id": "8d5e235b45915373",
        "type": "influxdb out",
        "z": "b722b932422c7e6e",
        "influxdb": "565854b8a62ccf9e",
        "name": "Save Alert",
        "measurement": "security_alerts",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "factory",
        "bucket": "machine_data",
        "x": 990,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6290852d9105eb8",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e7d72e26a069637b",
        "type": "ui-group",
        "name": "Machine 1",
        "page": "4feae25fbcc1dc77",
        "width": 3,
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "565854b8a62ccf9e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "8fe3834f406f74b5",
        "type": "ui-group",
        "name": "Machine 2",
        "page": "4feae25fbcc1dc77",
        "width": 3,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2d4481fa4bbb199d",
        "type": "ui-group",
        "name": "Machine 3",
        "page": "4feae25fbcc1dc77",
        "width": 3,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "60e00b0742cf0cd3",
        "type": "ui-group",
        "name": "Machine 4",
        "page": "4feae25fbcc1dc77",
        "width": 3,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "296cf9f776620b90",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4feae25fbcc1dc77",
        "type": "ui-page",
        "name": "DASHBOARD",
        "ui": "296cf9f776620b90",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "a88b3fbb3ea9cc5b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a88b3fbb3ea9cc5b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c5b02c2b4698f13a",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]